VITE_API_BASE_URL=https://yourbackend.yourdomain.abc
VITE_DISCORD_CLIENT_ID=1234567890123456789
VITE_DISCORD_REDIRECT_URI=https://classtestts.yourdomain.abc/auth/callback

VITE_GOOGLE_CLIENT_ID=เลขไคลเอนต์ที่คุณได้มาจากหน้าเว็บกูเกิลเมื่อกี้.apps.googleusercontent.com
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/auth/callback